{% extends "base.html" %}

{% block title %}
User Dashboard
{% endblock %}

{% block content %}

<h2>
    Welcome, {{ current_user.username }}
</h2>

<hr>

<h4>Available Books</h4>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Available</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

    {% for book in books %}

        <tr>

            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.available }}</td>

            <td>

                {% if book.available > 0 %}

                <a href="{{ url_for('issue_book',
                                    book_id=book.id) }}"
                   class="btn btn-primary btn-sm">

                    Issue

                </a>

                {% else %}

                <span class="text-danger">
                    Not Available
                </span>

                {% endif %}

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

<hr>

<h4>My Issued Books</h4>

{% if my_books %}

<table class="table table-bordered">

    <thead>

    <tr>

        <th>Book</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Fine</th>
        <th>Action</th>

    </tr>

    </thead>

    <tbody>

    {% for issue in my_books %}

    <tr>

        <td>{{ issue.book.title }}</td>

        <td>{{ issue.issue_date.date() }}</td>

        <td>{{ issue.due_date.date() }}</td>

        <td>{{ issue.status }}</td>

        <td>₹{{ issue.fine }}</td>

        <td>

            {% if issue.status == "Issued" %}

            <a href="{{ url_for('return_book',
                                issue_id=issue.id) }}"
               class="btn btn-danger btn-sm">

                Return

            </a>

            {% endif %}

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% else %}

<div class="alert alert-info">
    You have not issued any books yet.
</div>

{% endif %}

{% endblock %}